*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
}

.content__wrapper{
  width: 100%;
  height: max-content;
  position: relative;
  padding-inline: 1.6rem;
  padding-block-start: 1.6rem;
}