.photos{
    margin-inline: 5.2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.photos__title{
    font-weight: 500;
    height: 4.3rem;
    border-bottom: solid 1px #E0E0E0;
}

.photos__contentWrapper{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}