.photos{
    position: relative;
    margin-inline: 5.2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.photos__title{
    font-weight: 500;
    height: 4.3rem;
    border-bottom: solid 1px #E0E0E0;
}

.photos__contentWrapper{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.pagination{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;
    height: 4.3rem;
    width: 15rem;
}

.pagination p{
    font-size: 1.6rem;
    text-align: center;
    display: block;
    width: 50%;
}

.page__buttonsWrapper{
    width: 50%;
    font-size: 3rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}