.detailCard{
    position: fixed;
    left: 50%;
    bottom: 3.2rem;
    transform: translateX(-50%);
    display: flex;
    width: 60%;
    height: 12.8rem;
    background: white;
    box-shadow: 0 8px 16px  rgba(0, 0, 0, 0.1);
}

.detailCard__photo{
    width: 12.8rem;
    aspect-ratio: 1/1;
}

.detailCard__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailCard__info{
    position: relative;
    overflow: hidden;
    padding-left: 4rem;
    margin-block: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: calc((100% - 12.8rem) / 2 );
    border-right: solid 1px #E0E0E0;
}

.detailCard__title{
    height: 3.2rem;
    width: max-content;
    font-family: 'Lora', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.detailCard__owner{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.detailCard__ownerImg{
    width: 3.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.detailCard__ownerImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.photo__ownerName{
    color: #919191;
}

.detailCard__titleFade{
    position: absolute;
    right: 0;
    content: "";
    height: 8rem;
    width: 3.1rem;
    background: linear-gradient(to left, #FFFFFF 30%, #FFFFFF00);
}

.detailCard__stats{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 3.9rem;
    padding-right: 4.4rem;
    padding-block: 3.6rem;
    width: calc((100% - 12.8rem) / 2 );
}

.detailCard__downloads{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.detailCard__downloadsNumber{
    font-family: 'Lora', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.detailCard__downloadsTitle{
    font-size: 1rem;
    font-weight: 400;
    color: #919191;
}

.detailCard__views{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.detailCard__viewsNumber{
    font-family: 'Lora', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.detailCard__viewsTitle{
    font-size: 1rem;
    font-weight: 400;
    color: #919191;
}

.detailCard__downloadButton{
    all: unset;
    cursor: pointer;
    width: 18.8rem;
    height: 4rem;
    background: black;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.detailCard__downloadButton:hover{
    background: #3C3C3C;
}